#app {
    font-size: 16px;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

.form-selectbutton .p-button {
    padding: 8px;
    width: 25%;
    height: 50px;
    font-size: 14px;
  }